<div>
    <h3>Adicionar Novo Estabelecimento</h3>
</div>
<form class="example-container" [formGroup]="estabelecimentoForm" (ngSubmit)="addEstabelecimento(estabelecimentoForm.value)">
    <mat-form-field>
        <input matInput name="nome_estabelecimento" placeholder="Nome do Estabelecimento" formControlName="nome_estabelecimento">
    </mat-form-field>
    <mat-form-field>
        <textarea matInput name="endereco_estabelecimento" placeholder="Endereço do Estabelecimento" formControlName="endereco_estabelecimento"></textarea>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="telefone_estabelecimento" placeholder="Telefone do Estabelecimento" formControlName="telefone_estabelecimento">
    </mat-form-field>

    <button type="submit" [disabled]="!estabelecimentoForm.valid" mat-button color="primary">Adicionar</button>
</form>