<router-outlet>
    <div class="container">
        <app-menu></app-menu>
        <nav>
            <a routerLink="/profissional" routerLinkActive="active">Profissional</a><br>
            <a routerLink="/profissional-novo" routerLinkActive="active">Novo Profissional</a><br>
            <a routerLink="/estabelecimento" routerLinkActive="active">Estabelecimento</a><br>
            <a routerLink="/estabelecimento-novo" routerLinkActive="active">Novo Estabelecimento</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</router-outlet>